[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/brianwickersham
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/brianwickersham
	label-Verified = -1..+1 group user/brianwickersham
	push = group user/brianwickersham
	read = group user/brianwickersham
	rebase = group user/brianwickersham
	removeReviewer = group user/brianwickersham
	submit = group user/brianwickersham
[access "refs/heads/*"]
	create = group user/brianwickersham
	push = +force group user/brianwickersham
	pushMerge = group user/brianwickersham
	read = group user/brianwickersham
[access "refs/tags/*"]
	push = group user/brianwickersham
	push = +force group user/brianwickersham
